In [4]:
import graphlab
graphlab.canvas.set_target('ipynb')
image_train = graphlab.SFrame('http://s3.amazonaws.com/dato-datasets/coursera/deep_learning/image_train_data')
image_test = graphlab.SFrame('http://s3.amazonaws.com/dato-datasets/coursera/deep_learning/image_test_data')

### P1.) Which class is the least common class in 'image_train'? a. bird b. dog c. cat d automobile

In [13]:
image_train.groupby(key_columns='label', operations={'label_counts': graphlab.aggregate.COUNT()})

Columns:
	label	str
	label_counts	int

Rows: 4

Data:
+------------+--------------+
|   label    | label_counts |
+------------+--------------+
|    bird    |     478      |
|    dog     |     509      |
|    cat     |     509      |
| automobile |     509      |
+------------+--------------+
[4 rows x 2 columns]

In [14]:
# ans
print 'bird'

bird

### P2.) Find the centroid of each class within the ‘image_train’ Frame. Which two class centroids are closest to each other? a. bird and dog b. bird and cat c. bird and automobile d. dog and cat e. dog and automobile f. cat and automobile

In [15]:
centroids = image_train.groupby(key_columns='label', operations = {'centroid_means' : graphlab.aggregate.MEAN('deep_features')})

In [16]:
centroids

Columns:
	label	str
	centroid_means	array

Rows: 4

Data:
+------------+-------------------------------+
|   label    |         centroid_means        |
+------------+-------------------------------+
|    bird    | [0.528559980158, 0.0802894... |
|    dog     | [0.400364203748, 0.1163342... |
|    cat     | [0.465362295303, 0.1532474... |
| automobile | [0.163575966606, 0.1451910... |
+------------+-------------------------------+
[4 rows x 2 columns]

In [17]:
mdl = graphlab.nearest_neighbors.create(centroids, features=['centroid_means'], label='label')

PROGRESS: Starting brute force nearest neighbors model training.

In [18]:
centroid_distances = mdl.query(centroids, label='label')

PROGRESS: Starting pairwise querying...

PROGRESS: +--------------+---------+-------------+--------------+

PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |

PROGRESS: +--------------+---------+-------------+--------------+

PROGRESS: | 1            | 4       | 25          | 8.115ms      |

PROGRESS: | Done         |         | 100         | 9.576ms      |

PROGRESS: +--------------+---------+-------------+--------------+

In [20]:
centroid_distances.print_rows(20)

+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|     bird    |       bird      |      0.0      |  1   |
|     bird    |       cat       | 13.1893686318 |  2   |
|     bird    |       dog       | 15.1802062726 |  3   |
|     bird    |    automobile   | 24.0099151076 |  4   |
|     dog     |       dog       |      0.0      |  1   |
|     dog     |       cat       | 7.86503265757 |  2   |
|     dog     |       bird      | 15.1802062726 |  3   |
|     dog     |    automobile   | 26.2285179061 |  4   |
|     cat     |       cat       |      0.0      |  1   |
|     cat     |       dog       | 7.86503265757 |  2   |
|     cat     |       bird      | 13.1893686318 |  3   |
|     cat     |    automobile   | 24.3980904056 |  4   |
|  automobile |    automobile   |      0.0      |  1   |
|  automobile |       bird      | 24.0099151076 |  2   |
|  automobile |       cat       | 24.3980904056 |  3   |
|  automobile |       dog       | 26.2285179061 |  4   |
+-------------+-----------------+---------------+------+
[16 rows x 4 columns]

In [21]:
#ans
print 'cat and dog, 7.865'

cat and dog, 7.865

### P3.) Which image in ‘image_train’ is most unique ie. is farther on average from every other point in the SFrame? Identify it by id. a. 24 b. 136 c. 90 d. 40515 e. 3869

In [22]:
image_train

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 2005

Data:
+-----+----------------------+------------+-------------------------------+
|  id |        image         |   label    |         deep_features         |
+-----+----------------------+------------+-------------------------------+
|  24 | Height: 32 Width: 32 |    bird    | [0.242871761322, 1.0954537... |
|  33 | Height: 32 Width: 32 |    cat     | [0.525087952614, 0.0, 0.0,... |
|  36 | Height: 32 Width: 32 |    cat     | [0.566015958786, 0.0, 0.0,... |
|  70 | Height: 32 Width: 32 |    dog     | [1.12979578972, 0.0, 0.0, ... |
|  90 | Height: 32 Width: 32 |    bird    | [1.71786928177, 0.0, 0.0, ... |
|  97 | Height: 32 Width: 32 | automobile | [1.57818555832, 0.0, 0.0, ... |
| 107 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.220677852631,... |
| 121 | Height: 32 Width: 32 |    bird    | [0.0, 0.23753464222, 0.0, ... |
| 136 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 138 | Height: 32 Width: 32 |    bird    | [0.658935725689, 0.0, 0.0,... |
+-----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [73.0, 77.0, 58.0, 71.0, 6... |
| [7.0, 5.0, 8.0, 7.0, 5.0, ... |
| [169.0, 122.0, 65.0, 131.0... |
| [154.0, 179.0, 152.0, 159.... |
| [216.0, 195.0, 180.0, 201.... |
| [33.0, 44.0, 27.0, 29.0, 4... |
| [97.0, 51.0, 31.0, 104.0, ... |
| [93.0, 96.0, 88.0, 102.0, ... |
| [35.0, 59.0, 53.0, 36.0, 5... |
| [205.0, 193.0, 195.0, 200.... |
+-------------------------------+
[2005 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [24]:
mdl = graphlab.nearest_neighbors.create(image_train, features=['deep_features'], label='id')

PROGRESS: Starting brute force nearest neighbors model training.

In [26]:
distances = mdl.query(image_train, k = len(image_train), label='id')

PROGRESS: Starting blockwise querying...

PROGRESS: num_ref_blocks: 4

PROGRESS: num_query_blocks: 1

PROGRESS: +--------------+---------+-------------+--------------+

PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |

PROGRESS: +--------------+---------+-------------+--------------+

PROGRESS: | 2005         | 1004505 | 24.9875     | 2.24s        |

PROGRESS: | Done         | 4020025 | 100         | 2.47s        |

PROGRESS: +--------------+---------+-------------+--------------+

In [28]:
grouped_distances = distances.groupby(key_columns='query_label', 
                                      operations={'distance_sum':graphlab.aggregate.SUM('distance')})

In [30]:
grouped_distances.sort('distance_sum', ascending=False)

Columns:
	query_label	int
	distance_sum	float

Rows: 2005

Data:
+-------------+---------------+
| query_label |  distance_sum |
+-------------+---------------+
|     3869    | 143966.899379 |
|    25608    | 138516.827614 |
|    30943    | 136977.986908 |
|     9565    | 136964.831767 |
|    40515    | 136703.170513 |
|    42669    | 136142.794595 |
|    26456    | 135785.151664 |
|    14451    | 135393.160967 |
|    24065    | 135248.882946 |
|    33112    | 134936.187362 |
+-------------+---------------+
[2005 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [31]:
#ans
print 3869

3869